<footer>
    <p>
        <span class="system-name">
            © 2022 Система «Альтернатива»
        </span>
    </p>
    <p>
        <span class="author">
            2222222222.
        </span>
        <br />
        <span>
            Дипломный проект
            <a href="https://guu.ru/">
                3333
            </a>
        </span>
    </p>
    <p>
        <a href="https://github.com/Alleaxx/DssAlternative">
            Репозиторий GitHub
        </a>
    </p>
</footer>
